@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

        body {
            margin: 0;
            padding: 0;
            /* background-color: #9b9ba3; */
            text-align: center;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
            padding-bottom: 50px;
        width:100vw;
        height:100vh;
        background-image: url("https://images.unsplash.com/photo-1554056014-3f581d067d0b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        

        }

        table {
            width: 750px;
            border-collapse: collapse;
            padding: 0;
            table-layout: fixed;
            background-color: rgba(209, 202, 202, 0.623);
        }

        td {
            border: 1px;
            margin: 0;
            padding: 0;
            padding-top: 10px;
            vertical-align: top;

        }

        tr {
            margin: 0;
            padding: 0;
        }

        .songname {
            width: 150px;
            height: 350px;

            font-family: 'Oswald', sans-serif;


        }

        .cover {
            width: 150px;
            height: 150px;
        }

        .cover img {
            vertical-align: bottom;
        }

        .list {
            border-collapse: collapse;
            border: none;
            line-height: 15px;
            width: 150px;
            background-color: transparent;

        }

        .list td {
            border: none;
            padding: 4px;
            font-size: 3px;
            width: 140px;
            /* display: block; */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;



        }

        .list td:hover {
            background: white;
            color: #c89f6b;


        }
        .cover{
        width: 100%;
        
        }
        .bigtd{
            
            height:500px;  
        }
        .big{
            width: 750px;
            height:500px;

        }