body{
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: rgb(228, 220, 220);
}
.circle{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 30px;
    padding: 30px;
    flex: 0 0 300px;
    position:relative;
}
h3{
    text-align: center;
}
.jmin2{
    width: 16px;
    height: 300px;
    background:url(m.png);
    position: absolute;
    left: 50%;

    margin-left: -5px;
    animation: jm 3600s infinite linear;
}
.jhour2{
    width: 16px;
    height: 300px;
    background:url(h.png);
    position: absolute;
    left: 50%;
margin-left: -8px;
animation: jh 43200s infinite linear;   
}
.jsec2{
    width: 16px;
    height: 300px;
    background:url(s.png);
    position: absolute;
    left: 50%;
    margin-left: -8px;
    animation: js 60s infinite linear;
}

.jmin{
    width: 10px;
    height: 40%;
    background-color: rgb(76, 24, 24);
    position: absolute;
    left:50%;
    top: 15%;
    margin-left: -5px;
}
.jhour{
    width: 10px;
    height: 30%;
    background-color: rgb(53, 68, 85);
    position: absolute;
    left:50%;
    top: 25%;
    margin-left: -5px;
    
}
.jsec{
    width: 4px;
    height: 50%;
    background-color: rgb(160, 155, 155);
    position: absolute;
    left:50%;
    top: 5%;
    
    margin-left: -2px;
}
.jsec::after{
    content:"";
    width: 10px;
    height: 10px;
    background-color:rgb(160, 155, 155);
    position: absolute;
    bottom:7.5%;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;

}


.zsec{
    width: 300px;
    height: 300px;
    position: absolute;
    animation: js 60s linear infinite;  
}
.zmin{
    width: 300px;
    height: 300px;
    position: absolute;
    animation: jm 3600s linear infinite;  
}
.zhour{
    width: 300px;
    height: 300px;
    position: absolute;
    animation: jh 43200s linear infinite;  
}
@keyframes js{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
@keyframes jm{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
@keyframes jh{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}